.login-container {
  height: 100vh;
  background-color: #f8f9fa;
}

.login-card {
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 10px;
}

.login-logo {
  width: 80px;
  height: auto;
}
